<div class="container">

  <section class="col-md-10 col-md-offset-1">
    <div class="row" style="text-align: center;">
      <h1>{{room}}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-success">
            <div class="panel-heading">Orders</div>
            <div class="panel-body" style="overflow: scroll; max-height:250px;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Type</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in orders track by $index">
                    <td>{{order.company}}</td>
                    <td>{{order.type}}</td>
                    <td>{{order.amount}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Company</th>
                    <th>Type</th>
                    <th>Amount</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">Recent Trades</div>
            <div class="panel-body" style="overflow: scroll; max-height:250px;">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Amount</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="trade in trades track by $index">
                    <td>{{trade.company}}</td>
                    <td>{{trade.amount}}</td>
                    <td>{{trade.buyer}}</td>
                    <td>{{trade.seller}}</td>
                    <td>{{trade.time}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Company</th>
                    <th>Amount</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Time</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <form class="form" ng-submit="done()">
            <div class="form-group">
              <label for="type">Type</label>
              <select class="form-control" type="select" ng-model="type" id="loginInputField" required autofocus>
            <option value="Buy" selected >Buy</option>
            <option value="Sell">Sell</option>
          </select>
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <select class="form-control" type="text" ng-model="mess" id="loginInputField" required autofocus>
          <option value="Ericsson" selected >Ericsson</option>
          <option value="Nokia">Nokia</option>
          <option value="Apple">Apple</option>
          <option value="Samsung">Samsung</option>
          <option value="Huawei">Huawei</option>
          <option value="Phillips">Phillips</option>
        </select>
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input class="form-control" type="number" ng-model="amount" id="loginInputField" required autofocus>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
